<div class="family">

    <img src="../../../img/family/family.webp" alt="family" class="family_img">
    <div class="family_info">
        <h3 class="family_info__title">Саргылана и Никита Колодезниковы-Матчитовы</h3>
        <p class="family_info__subtitle">Саргылана - рестовратор-декоратор, преображает и дарит вторую жизнь старой мебели.
<br><br>
            Никита - мастер по дереву, вся мебель делается его умелыми руками.</p>
        @@include('../button/button.html',{
            "class":{"bem_elem":"main__btn",},
            "type":'button',
            "text": "Подробнее о нас"
        })
    </div>

  
</div>