
<div class="container">
    <div class="varranty">
        <div class="varranty_border">

            <div class="varranty_borderInfo">
                <h2 class="varranty_title">
                    Гарантия качества мебели от NIKASON BRAND
                </h2>
                <p class="varranty_info">
                    На каждое изделие ставим авторский логотип (клеймо) как знак качества и узнаваемости мастера. Таким образом мастер несёт ответственность за каждое изделие помеченное печатью. Есть гарантия на 12 месяцев. 
                </p>
                <img src="../../../img/varranty/varranty.webp" alt="" class="varranty_img">

            </div>
            
        </div>
    </div>    
</div>
