<div class="service">

    <div class="service_title container">
        Наши услуги
    </div>
    <div class="services">

        <img src="../../../img/service/service1.webp" alt="" class="services_image">
        <div class="services_info">
            <h3 class="services_info__title">
                Мебель на заказ
            </h3>
            <p class="services_info_subtitle">Мебель под заказ по индивидуальным размерам это гарантия отличного качества, долговечность, экологичность и эксклюзивность наших изделий.<br> 
                Возможность создания своего неповторимого стиля, уникальность и неповторимость каждого изделия.</p>

                </p>
        @@include('../button/button.html',{
            "class":{"bem_elem":"main__btn",},
            "type":'button',
            "text": "Подробнее о нас"
        })
        </div>
        <img src="../../../img/service/service2.webp" alt=""class="services_image">
        <div class="services_info">
            <h3 class="services_info__title">
                Мастер-классы
            </h3>
            <p class="services_info_subtitle">Что делать, если память о предках хочется сохранить, но к вашему интерьеру старая и испорченная мебель не подходит?<br>
                Правильно, отреставрировать его и наслаждаться не только обновлённым видом мебели, но и с теплотой помнить, что эта мебель была сделана талантливыми предками.
                </p>

                </p>

            @@include('../button/button.html',{
                "class":{"bem_elem":"main__btn",},
                "type":'button',
                "text": "Подробнее о нас"
            })
        </div>
    </div>
    
</div>