<div class="banner">
   

       
            <img class="banner_img" src="../../../img/ban/bannerItem.png" alt="bannerBlock">
            <div class="banner_info" >
                <p class="banner_info__desk">Столярная мастерская NIKASON BRAND</p>
                <h1 class="banner_info__title">Изготовление и реставрация мебели</h1>
                <p class="banner_info_subtitle">Авторская мебель ручной работы, сделанная с душой и трепетом.</p>

                @@include('../button/button.html',{
                    "class":{"bem_elem":"main__btn",},
                    "type":'button',
                    "text": "Смотреть услуги"
                })
            </div>
  
    
</div>
