<div class="description">
    <div class="container">

        <h2 class="description_title">NIKASON BRAND это</h2>
        <div class="row">
            <div class="desctiprion_item1 col-md-4 " ><button class="description_btn" id="desc_btn__item1">Производство авторской мебели из массива</button></div>
            <div class="desctiprion_item2 col-md-4" ><button class="description_btn" id="desc_btn__item2">Реставрация, редизайн, ремонт деревянной мебели</button></div>
            <div class="desctiprion_item3 col-md-4" ><button class="description_btn" id="desc_btn__item3"> Производство мебели по индивидуальным размерам
            </button></div>
        </div>
    </div>

</div>