.age{
    margin-top: 160px;
    margin-bottom: 100px;
    .age_title{
        font-family: TenorSans,sans-serif;
        font-size: 48px;
        color: #57463A;
        width: 60%;
        margin-top:17px;
        margin-bottom: 100px;
    }
    .age_item__img{
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
    .age_item{
        display: grid;
        justify-content: center;
        border: 0.1px solid black;
        padding:56px;
    }
    .age_item__title{
        text-align: center;
    }
}
