<div class="age">
    <div class="container">
        <h2 class="age_title">Более 10 лет мы производим</h2>
        <div class="row">
            <div class="age_item col-md-3 col-xs-6">
                <img src="../../../img/age/door.webp" alt="" class="age_item__img">
                <br>
                <p class="age_item__title">Двери</p>
            </div>
            <div class="age_item col-md-3  col-xs-6">
                <img src="../../../img/age/closet.webp" alt="" class="age_item__img">
                <p class="age_item__title">Шкафы</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/chair.webp" alt="" class="age_item__img">
                <p class="age_item__title">Столы и стулья</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/drawers.webp" alt="" class="age_item__img">
                <p class="age_item__title">Комоды</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/drawer.webp" alt="" class="age_item__img">
                <p class="age_item__title">Тумбы</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/gate.webp"" alt="" class="age_item__img">
                <p class="age_item__title">Арки</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/roomDivider.webp" alt="" class="age_item__img">
                <p class="age_item__title">Перегородки</p>
            </div>
            <div class="age_item col-md-3 col-sm-6 col-xs-6">
                <img src="../../../img/age/bed.webp" alt="" class="age_item__img">
                <p class="age_item__title">Кровати</p>
            </div>
        </div>
    </div>
</div>
