<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer_item col-md-3">
                <ul class="footer_list">
                    <li class="footer_list__item"><a href="" class="fooetr_list__itemLink">
                        ИП Колодезников-Матчитов Н.И.
                        ИНН 143515646663
                    </a>
                </li>
                </ul>
            </div>
            <div class="footer_item col-md-2">
                <ul class="footer_list">
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink  underline">
                            Мастер-классы
                        </a>
                    </li>
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink  underline">
                            Мебель на заказ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_item col-md-2">
                <ul class="footer_list">
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink  underline">
                            Контакты
                        </a>
                    </li>
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLin underline">
                            О нас
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_item col-md-3">
                <ul class="footer_list">
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink  underline">
                            Политика кофиденциальности
                        </a>
                    </li>
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink  underline">
                            Договор оферты
                        </a>
                    </li>
                </ul>
            </div>
          
            <div class="footer_item col-md-2">
                <ul class="footer_list footer_list_logos">
                    <li class="footer_list__item">
                        
                        <a href="" class="fooetr_list__itemLink">
                            <img src="../../img/footer/inst.webp" alt="">
                        </a>
                    </li>
                    <li class="footer_list__item">
                        <a href="" class="fooetr_list__itemLink">
                            <img src="../../img/footer/whats.webp" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
