<header class="header">
    <ul class="header_nav">

            <li class="header_nav__item1 header_nav_item"><a href="#" class="underline">Мастер-классы</a></li>
            <li class="header_nav__item2 header_nav_item"><a href="" class="underline">Мебель на заказ</a></li>
            <li class="header_nav__item3 header_nav_item"><a href="/" ><img src="../../../img/header/logo.png" alt=""></a></li>
            <li class="header_nav__item4 header_nav_item"><a href="" class="underline">Контакты</a></li>
            <li class="header_nav__item5 header_nav_item"><a href="" class="underline">О нас</a></li>
    </ul>
</header>
